@inject IResturantService ResturantService
@inject NavigationManager NavigationManager

@if(ResturantService.Resturants == null || ResturantService.Resturants.Count == 0)
{
    <span>Loding Resturants...</span>
}
else
{
    <h3>ResturantList</h3>
    <button class="btn btn-primary" @onclick="CreateResturant">Create</button>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Image</td>
                <td scope="col">Name</td>
                <td scope="col">Style</td>
                <td scope="col">Price</td>
                <td scope="col">Option</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var resturant in ResturantService.Resturants)
            {
                <tr>
                    <td><img class="media-img" src="@resturant.ImageURL"/></td>
                    <td><a class="in-table" href="#">@resturant.Name</a></td>
                    <td><p class="in-table">@resturant.Style</p></td>
                    <td><h5 class="in-table price">@resturant.PriceLabel(@resturant.Price)</h5></td>
                    <td>
                        <button class="btn btn-primary" @onclick="(()=>ShowResturant(resturant.Id))"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@*<ul class="list-unstyled">
    @foreach (var resturant in Resturants)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                <a href="#">
                    <img class="media-img" src="@resturant.ImageURL" alt="@resturant.Name"/>
                </a>
            </div>
            <div class="media-body">
                <a href="#">
                    <h4 class="mb-0">@resturant.Name</h4>
                </a>
                <p>@resturant.Style</p>
                <h5 class="price">@resturant.PriceLabel(@resturant.Price)</h5>
            </div>
        </li>
    }
</ul>*@

@code {
    protected override async Task OnInitializedAsync()
    {
        await ResturantService.GetResturants();
    }

    void ShowResturant(int Id)
    {
        NavigationManager.NavigateTo($"/Resturant/{Id}");
    }

    void CreateResturant()
    {
        NavigationManager.NavigateTo("/Resturant");
    }
}
